body {
  max-width: 1000px;
  margin:auto;
  background-color: #0B1240;
}

h1 {
  color: white;
  text-align: center;
}

#one {
  background-color: white;
}

h3 {
  font-size: 24pt;
}

p {
text-align: center;
font-size: 24pt;
position: relative;
top: 170px;
}

.work {
  float:left;
}
.USWNT {
  float: right;
  position: relative;
  left: 50px;
}
.photography {
  float:right;
}
.Jstar {
    float:right;
}
.porsche {
    float:right;
  }
